body{
    background-image:url("background.jpg") ;
    background-color: #ccc;
    background-size: 100% 100%;
    background-repeat: no-repeat;
   
}




.header{
    text-decoration-line:none;
    font-size: 20px;
 

    
}


.nav-bar-main{
    display: grid;
    grid-template-columns: auto 500px;
    justify-content: space-between;
    align-items: center;
    justify-items: center;
    margin-bottom:25px;
}

.nav-bar-buttons{
    width: 100px;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    flex-direction: row;
    
}

.nav-bar-logo{
    padding-left: 150px;
}
.text{
    margin-block: 300px;
    margin-left: 300px;
    font-size: 30px;
}
.nav-bar-button-text{
    font-size: 20px;
    font-family: sans-serif;
}
.img{
    margin-left: 500px;
    height: 400px;
}
.img2{
    width:1200px;
    height: 800px;
}

.grid-container {
    margin-left: 10%;
    margin-right: 10%;
    height: 50px;
    display: grid;
    grid-template-columns:auto auto auto auto auto auto auto auto   ;
    align-items: center;
    color: white;   
  }

  .grid-item{
    padding-left: 25px;
    font-weight: 600;
    font-family: serif;
    
  }

  .grid-item:hover{
      color:rgb(44, 44, 119);
  }

.page-content{
   
    
}
img1{
    height: 50px;
    width: 100px;
}

.pointer{
    cursor: pointer;
}


  .footer-clean {
    padding:50px 0;
    background-color:#dfdddd;
    color:#4b4c4d;
  }
  
  .footer-clean h3 {
    margin-top:0;
    margin-bottom:12px;
    font-weight:bold;
    font-size:16px;
  }
  
  .footer-clean ul {
    padding:0;
    list-style:none;
    line-height:1.6;
    font-size:14px;
    margin-bottom:0;
  }
  
  .footer-clean ul a {
    color:inherit;
    text-decoration:none;
    opacity:0.8;
  }
  
  .footer-clean ul a:hover {
    opacity:1;
  }
  
  .footer-clean .item.social {
    text-align:right;
  }
  
  @media (max-width:767px) {
    .footer-clean .item {
      text-align:center;
      padding-bottom:20px;
    }
  }
  
  @media (max-width: 768px) {
    .footer-clean .item.social {
      text-align:center;
    }
  }
  
  .footer-clean .item.social > a {
    font-size:24px;
    width:40px;
    height:40px;
    line-height:40px;
    display:inline-block;
    text-align:center;
    border-radius:50%;
    border:1px solid #ccc;
    margin-left:10px;
    margin-top:22px;
    color:inherit;
    opacity:0.75;
  }
  
  .footer-clean .item.social > a:hover {
    opacity:0.9;
  }
  
  @media (max-width:991px) {
    .footer-clean .item.social > a {
      margin-top:40px;
    }
  }
  
  @media (max-width:767px) {
    .footer-clean .item.social > a {
      margin-top:10px;
    }
  }
  
  .footer-clean .copyright {
    margin-top:14px;
    margin-bottom:0;
    font-size:13px;
    opacity:0.6;
  }